<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Formulario registro de alumno</title>
<style>
	.error {
		color: red;	
	}
</style>
</head>
<body>

	<form th:action="@{/alumno/procesarFormulario}" th:object="${alumno}" method="POST">
		<label for="nombre">Nombre:</label>
		<input type="text" th:field="*{nombre}">
		<p th:if="${#fields.hasErrors('nombre')}" th:errorclass="error"
			th:errors="*{nombre}" />

		<br><br><br>
		<label for="apellido">Apellido:</label>
		<input type="text" th:field="*{apellido}">
		<p th:if="${#fields.hasErrors('apellido')}" th:errorclass="error"
			th:errors="*{apellido}" />

		<br><br><br>
		<label for="edad">Edad:</label>
		<input type="number" th:field="*{edad}">
		<p th:if="${#fields.hasErrors('edad')}" th:errorclass="error"
			th:errors="*{edad}" />

		<br><br><br>
		<label for="email">email:</label>
		<input type="text" th:field="*{email}">
		<p th:if="${#fields.hasErrors('email')}" th:errorclass="error"
			th:errors="*{email}" />

		<br><br><br>
		<label for="materia">Materia:</label>
		<select th:field="*{materia}">
			<option value="Diseño" th:text="Diseño">
			<option value="Karate" th:text="Karate">
			<option value="Comercio" th:text="Comercio">
			<option value="Danza" th:text="Danza">
		</select>

		<br><br><br>
		<input type="radio" th:field="*{ciudad}" value="Buenos Aires">
		<label th:for="ciudad1">Buenos Aires</label>

		<input type="radio" th:field="*{ciudad}" value="Córdoba">
		<label th:for="ciudad2">Córdoba</label>

		<input type="radio" th:field="*{ciudad}" value="Rosario">
		<label th:for="ciudad3">Rosario</label>

		<br><br><br>
		<label for="codigoPostal">Código postal:</label>
		<input type="text" th:field="*{codigoPostal}">
		<p th:if="${#fields.hasErrors('codigoPostal')}" th:errorclass="error"
			th:errors="*{codigoPostal}" />

		<br><br><br>
		<label for="idioma1">Inglés</label>
		<input type="checkbox" value="Inglés" th:field="*{idioma}">

		<label for="idioma2">Japonés</label>
		<input type="checkbox" value="Japonés" th:field="*{idioma}">

		<label for="idioma3">Español</label>
		<input type="checkbox" value="Español" th:field="*{idioma}">

		<br><br><br>
		<input type="submit">
	</form>

</body>
</html>