<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Formulario registro de alumno</title>
</head>
<body>

	<form th:action="@{/alumno/procesarFormulario}" th:object="${alumno}" method="POST">
		<label for="nombre">Nombre:</label>
		<input type="text" id="nombre" name="nombre" th:field="*{nombre}">

		<label for="apellido">Apellido:</label>
		<input type="text" id="apellido" name="apellido" th:field="*{apellido}">

		<label for="materia">Materia:</label>
		<select th:field="*{materia}">
			<option value="Diseño" th:text="Diseño">
			<option value="Karate" th:text="Karate">
			<option value="Comercio" th:text="Comercio">
			<option value="Danza" th:text="Danza">
		</select>

		<br><br><br>
		<input type="radio" th:field="*{ciudad}" value="Buenos Aires">
		<label th:for="ciudad1">Buenos Aires</label>

		<input type="radio" th:field="*{ciudad}" value="Córdoba">
		<label th:for="ciudad2">Córdoba</label>

		<input type="radio" th:field="*{ciudad}" value="Rosario">
		<label th:for="ciudad3">Rosario</label>

		<br><br><br>
		<label for="idiomaIngles">Inglés</label>
		<input type="checkbox" value="Inglés" id="idioma" name="idioma" th:field="*{idioma}">

		<label for="idiomaJapones">Japonés</label>
		<input type="checkbox" value="Japonés" id="idioma" name="idioma" th:field="*{idioma}">

		<label for="idiomaEspañol">Español</label>
		<input type="checkbox" value="Español" id="idioma" name="idioma" th:field="*{idioma}">

		<br><br><br>
		<input type="submit">
	</form>

</body>
</html>